@page "/"
@using MudBlazor

<style>
    body {
        margin: 0 10%;
        background-color: lightgray;
    }
</style>

<h1>Usuários</h1>

<TableSelectFilter/>

<SurveyPrompt Title="How is Blazor working for you?" />
