@page "/"
@using MudBlazor

<style>
    body {
        margin: 0 10%;
        background-color: lightgray;
    }
</style>

<h1>Usuários</h1>

<div class="fields">
    <MudTextField @bind-Value="SelectedUser.Name" Label="User" ReadOnly="true" Variant="Variant.Text" />
    
</div>

<TableSelectFilter/>

@code{
    public List<User> Users { get; set; } = User.GetExampleListUsers();
    public User SelectedUser { get; set; }
    public string SelectedUserName { get; set; } = "";
}
